<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta desciption="Todos los componentes externos e internos  que necesites para tu pc lo encontraras aqui a precios super bajos y todo de la mejor calidad ">
    <title>SportStreet V</title>
    <!-- custom -->
    <link rel="stylesheet" href="./src/css/custom.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet"> 
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <header class="bg-dark p-4">
            <h1 class="text-center text-white title">
                <span> SportStreet V </span>
            </h1>
        </header>
        <section>
            <div class="container mt-5">
                <div class="text-center pb-4">
                    <h1><dt> Tienda Online de Componentes y accesorios para pc </dt></h1>
                    <p class="lead">
                        ¿No encuentras una <strong><em> Tarjeta Gráfica </em></strong> que vaya deacuerdo a tus necesidades?.
                        Entonces estas en el lugar adecuado porque aquí podras encontrarlas de todo tipo como de
                        diseño 3d y 2d e ilustraciones, o si simplemente para que corra el videojuego que tanto deseas 
                        y todo aquí en <b><em> SportStreet V </em></b>. 
                    </p>
                </div>
                <div class="row">
                    <template v-for="categoria in categorias">
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card">
                                <div class="card-header bg-dark text-white">
                                    <h5 class="text-center">
                                        {{ categoria.titulo }}
                                    </h5>
                                </div>
                                <a :href="categoria.url" target="_blank" rel="nofollow">
                                    <template v-if="categoria.width">
                                        <figure class="px-2 pt-2 w-75">
                                            <img v-bind:src="categoria.imagen" class="card-img-top" alt="...">
                                        </figure>
                                    </template>
                                    <template v-else>
                                        <figure class="px-2 pt-2">
                                            <img v-bind:src="categoria.imagen" class="card-img-top" alt="...">
                                        </figure>
                                    </template>
                                </a>
                                <div class="card-body border-img">
                                    <p class="card-text">
                                        <a :href="categoria.url" class="btn btn-primary btn-block">
                                            Ver Ya!
                                        </a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </section>
        <footer class="bg-dark mt-5 p-3">
            <div class="container text-white text-center">
                <p>
                    Utilizamos cookies propias y de terceros para que tengas una mejor experiencia
                </p>
            </div>
        </footer>
    </div>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    let app = new Vue({
        el: '#app',
        data: {
            categorias: [
                {
                    imagen: 'https://images-na.ssl-images-amazon.com/images/I/81QnPIBbZML._AC_SL1500_.jpg',
                    titulo: 'Tarjetas Gráficas',
                    url: './tarjetas-gráficas',
                    width: false,
                },
                {
                    imagen: 'https://images-na.ssl-images-amazon.com/images/I/81DJMwMcd5L._AC_SL1500_.jpg',
                    titulo: 'Monitores',
                    url: './monitores',
                    width: false,
                },
                {
                    imagen: 'https://images-na.ssl-images-amazon.com/images/I/61QQMg72PAL._AC_SL1000_.jpg',
                    titulo: 'RAM',
                    url: './memorias-ram',
                    width: false,
                },
            ]
        },
    })
    </script>
    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/5f79f2543b.js" crossorigin="anonymous"></script>
</body>
</html>